@model List<Music>
@{
    ViewData["Title"] = "My Music";
}

<div class="mb-2">
    <a asp-controller="Music" asp-action="Add">Add New Music</a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Year</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var music in Model)
        {
            <tr>
                <td>@music.Title</td>
                <td>@music.Artist</td>
                <td>@music.Year</td>
                <td>@music.Rating</td>
                <td>
                    <a asp-controller="Music" asp-action="Edit" asp-route-id="@music.MusicId">Edit</a>
                    <a asp-controller="Music" asp-action="Delete" asp-route-id="@music.MusicId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
